
body {
  font-family: "Arial", sans-serif;
  font-size: 1.125em;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin: auto;
  width: 90%;
  
}

div {
  width: 80%px;
  border: 10px solid green;
  padding: 50px;
  margin: 20px;
}

.conteudoa {
  box-sizing: content-box;  
  width: 300px;
  height: 100px;
  padding: 30px;  
  border: 10px solid blue;
}

.conteudob {
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  padding: 30px;  
  border: 10px solid blue;
}



h1 {
  text-align: center;
}

.fonte{
  font-size: 0.875em;
  font-style: italic;
}

.nome{
  text-decoration: underline;
  font-weight: bold;
}

.cern{
  text-transform: uppercase;
}

